.header {
    position: fixed;
    width: 100%;
    padding: 20px 30px;
    background-color: rgba(29, 33, 36, 0.9);
    color: #fff;
    top: 0;
    left: 0;
}

.header-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
}

.icon {
    position: absolute;
    left: 20px;
    font-size: 25px;
    line-height: 1;
    display: flex;
    align-items: center;
}

.back {
    font-size: 18px;
    display: inline-block;
    margin-left: 5px;
}