a {
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #007bff;
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.length-top {
    font-size: 20px;
    font-weight: bold;
}

.top-username {
    margin-bottom: 20px;
}